* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header {
    height: 88px;
}
#header .h_center {
    margin: 0 auto;
    width: 1200px;
    height: 88px;
}
#header .h_center img {
    height: 60px;
    float: left;
    margin-top: 5px;
}
#header .h_center a{
    text-decoration: none;
    font-size: 16px;
    float: right;
    margin-right: 60px;
    margin-top: 28px;
    color:black;
}
#header .h_center span{
    font-size: 16px;
    float: right;
    margin-right: 10px;
    margin-top: 28px;
    color:black;
}
#header .h_center a:hover{
    color:red;
}
#header .h_center p {
    float: left;
    text-align: center;
    border: 1px solid #ccc;
    width: 800px;
    margin-top: 20px;
    margin-left: 80px;
    padding: 3px;
    color: #6c6c6c;
    background: #fef2f2;
    font-size: 20px;
}
#reg_body {
    height: 500px;
    background-image: url("../images/admin.png");
    background-position: center center;
    position: relative;
}
#reg_body .reg_bg {
    width: 450px;
    height: 400px;
    background: rgba(355, 355, 355, 0.9);
    position: absolute;
    right: 100px;
    top: 50px;
}
#reg_body .reg_bg .p1{
    position: absolute;
    left: 280px;
    top: 30px;
    color: #CD2626;
    font-size: 16px;
}
#reg_body .reg_bg .p2{
    position: absolute;
    left: 280px;
    top: 80px;
    color: #CD2626;
    font-size: 16px;
}
#reg_body .reg_bg .p3{
    position: absolute;
    left: 280px;
    top: 185px;
    color: #CD2626;
    font-size: 16px;
}
#reg_body .reg_bg .p5{
    position: absolute;
    left: 280px;
    top: 235px;
    color: #CD2626;
    font-size: 16px;
}
#reg_body .reg_bg div{
    margin-left: 20px;
    margin-top: 20px;
    width: 270px;
    height: 30px;
}
#reg_body .reg_bg div:first-child{
    margin-top: 30px;
}
#reg_body .reg_bg div input{
    height: 30px;
}
#reg_body .reg_bg div select{
    width: 60px;
    height: 30px;
}
#reg_body .reg_bg label{
    height: 30px;
    line-height: 30px;
    float: left;
    width: 75px;
    display: inline-block;
}
#reg_body .reg_bg .p4{
    font-size: 11px;
    position: absolute;
    top: 310px;
    left: 335px;
}
#reg_body .reg_bg img{
    position: absolute;
    top: 280px;
    left: 270px;
    width: 70px;
    height: 30px;
}
#reg_body .reg_bg .submit_button input{
    background-color: #ff4400;
    color: white;
    width: 270px;
    font-size: 20px;
    border: none;
    height: 40px;
}